<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Admin Sign In</title>
</head>

<body>
  <nav>
    <div class="logo"><img src="img/Smvec-crop.png" alt=""></div>
    <div class="nav-options">
      <a href="/"><button style="border: 2px solid transparent" class="btn">MoU's</button></a>
      <a href="/admin""><button style="border: 2px solid transparent" class="btn">Admin</button></a>
      <a href="#"><button style="margin-right:50px;">Contact Us</button></a>
    </div>
  </nav>
  <div class="form-wrapper">
    <h2>Admin Sign In</h2>
    <form action="/login" method="post">
      <div class="form-control">
        <input type="text" name="username" required>
        <label>Username</label>
      </div>
      <div class="form-control">
        <input type="password" name="password" required>
        <label>Password</label>
      </div>
      <button type="submit">Sign In</button>
    </form>
  </div>
</body>

</html>