<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Know More</title>
</head>

<body>
  <nav>
    <div class="logo"><img src="img/Smvec-crop.png" alt=""></div>
    <div class="nav-options">
      <a href="#"><button style="border: 2px solid transparent" class="btn">MoU's</button></a>
      <a href="#"><button style="border: 2px solid transparent" class="btn">Admin</button></a>
      <a href="#"><button style="margin-right:50px;">Contact Us</button></a>
    </div>
  </nav>
  <div class="pic-cards">
    <div class="pic-card">
      <div class="pic-img">
        <img src="img/Iron Man.jpg" alt="">
      </div>
      <div class="pic-text">
        <h2>Iron Man in CyberPunk</h2>
        <p>In a neon-lit cyberpunk world, the Ironman emerges as more than just steel and circuits—a technological sentinel fighting megacorporate dominance with a heart that beats on the binary edge.</p>
      </div>
    </div>
    <div class="pic-card">
      <div class="pic-img">
        <img src="img/Iron Man.jpg" alt="">
      </div>
      <div class="pic-text">
        <h2>Iron Man in CyberPunk</h2>
        <p>In a neon-lit cyberpunk world, the Ironman emerges as more than just steel and circuits—a technological sentinel fighting megacorporate dominance with a heart that beats on the binary edge.</p>
      </div>
    </div>
    <div class="pic-card">
      <div class="pic-img">
        <img src="img/Iron Man.jpg" alt="">
      </div>
      <div class="pic-text">
        <h2>Iron Man in CyberPunk</h2>
        <p>In a neon-lit cyberpunk world, the Ironman emerges as more than just steel and circuits—a technological sentinel fighting megacorporate dominance with a heart that beats on the binary edge.</p>
      </div>
    </div>
    
  </div>
  <section>
    <button class="view-doc">View Document</button>
  </section>
</body>